<button mat-flat-button color="primary" (click)="openModal()">
  <mat-icon>add</mat-icon> Crear Nuevo Estudiante
</button>

<p *ngIf="loading">Cargando...</p>

<table *ngIf="!loading" mat-table [dataSource]="students" class="mat-elevation-z8">
  <ng-container matColumnDef="rut">
    <th mat-header-cell *matHeaderCellDef>RUT</th>
    <td mat-cell *matCellDef="let element">{{ element.rut }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
  </ng-container>
  <ng-container matColumnDef="registrationDate">
    <th mat-header-cell *matHeaderCellDef>Fecha de Registro</th>
    <td mat-cell *matCellDef="let element">{{ element.registrationDate | date }}</td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Dirección</th>
    <td mat-cell *matCellDef="let element">{{ element.address }}</td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Teléfono</th>
    <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Activo</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon>{{ element.active ? 'check' : 'close' }}</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button (click)="onEdit(element)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="onDelete(element.rut)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <form (ngSubmit)="onSubmit()" [formGroup]="studentForm">
      <div class="grid">
        <div class="col-6">
          <mat-form-field class="w-full">
            <mat-label>RUT</mat-label>
            <input formControlName="rut" matInput />
            <mat-error *ngIf="studentForm?.get('rut')?.hasError('invalidRut')">RUT inválido</mat-error>
            <mat-error *ngIf="studentForm?.get('rut')?.hasError('invalidRutFormat')">Formato de RUT inválido</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-full">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-full">
            <mat-label>Apellido</mat-label>
            <input formControlName="surname" matInput />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-full">
            <mat-label>Fecha de Registro</mat-label>
            <input formControlName="registrationDate" matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-full">
            <mat-label>Dirección</mat-label>
            <input formControlName="address" matInput />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-full">
            <mat-label>Teléfono</mat-label>
            <input formControlName="phone" matInput />
            <mat-error *ngIf="studentForm?.get('phone')?.hasError('invalidPhone')">Teléfono inválido</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-checkbox formControlName="active">Activo</mat-checkbox>
        </div>
      </div>
      <div class="form-buttons">
        <button mat-flat-button color="warn" (click)="closeModal()" type="button">
          Cancelar
        </button>
        <button type="submit" mat-flat-button color="primary">
          {{ editingStudent ? "Editando" : "Crear" }}
        </button>
      </div>
    </form>
  </div>
</div>
